<div class="container">
  <h1>Ders Liste</h1>
  <h3><b>Öğretmen Adı Soyadı : </b>{{secOgretmen.ogretmenAdiSoyadi}} </h3>
  <button mat-fab color="primary" matTooltip="Geri Git" [routerLink]="['/ogretmenler']">
    <mat-icon aria-label="label">arrow_back</mat-icon>  
  </button>


  <mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="dersKod">
      <mat-header-cell *matHeaderCellDef> Ders Kodu
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit"> {{kayit.dersKod}} </mat-cell>
    </ng-container> 
    <ng-container matColumnDef="dersAd">
      <mat-header-cell *matHeaderCellDef> Ders Ad
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit"> {{kayit.dersAd}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="islemler">
      <mat-header-cell *matHeaderCellDef> İşlemler
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit"> 
      
      
      </mat-cell>
    </ng-container>
    
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>