<div class="container">
  <h1>Ders Liste</h1>
  <button mat-fab color="primary" matTooltip="Geri Git" [routerLink]="['/dersler']">
    <mat-icon aria-label="label">arrow_back</mat-icon>  
  </button>

  <p>&nbsp;</p>

  

  <mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="ogrNo">
      <mat-header-cell *matHeaderCellDef > Öğrenci No
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit"> {{kayit.ogrBilgi.ogrNo}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="ogrAdSoyad">
      <mat-header-cell *matHeaderCellDef > Öğrenci Ad Soyad
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit"> {{kayit.ogrBilgi.ogrAdSoyad}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="islemler">
      <mat-header-cell *matHeaderCellDef> İşlemler
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit"> 
      
      </mat-cell>
    </ng-container>
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>