<div class="container">
  <h1>Öğretmenler</h1>
  <button mat-fab color="primary">
    <mat-icon aria-label="label" matTooltip="Öğretmen Ekle" (click)="OgretmenEkle()">add</mat-icon>
  </button>
  <p>&nbsp;</p>
  <mat-form-field appearance="outline">
    <input matInput placeholder="Aranacak Bilgi Giriniz">
  </mat-form-field>
  <mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
    <ng-container matColumnDef="ogretmenTc">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Öğretmen TC
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit"> {{kayit.ogretmenTc}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="ogretmenAdiSoyadi">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Öğretmen Ad Soyad
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit"> {{kayit.ogretmenAdiSoyadi}} </mat-cell>
      
    </ng-container>
    <ng-container matColumnDef="islemler">
      <mat-header-cell *matHeaderCellDef> İşlemler
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit"> 
        <button mat-icon-button>
          <mat-icon aria-label="label" color="primary" matTooltip="Verdiği Dersler" [routerLink]="['/ogretmenliste',kayit.ogretmenId]" >assignment</mat-icon>
        </button>
      <button mat-icon-button>
        <mat-icon aria-label="label" color="primary" matTooltip="Öğretmen Düzenle" (click)="OgretmenDuzenle(kayit)">edit</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon aria-label="label" color="warn" matTooltip="Öğretmen Sil" (click)="OgretmenSil(kayit)">delete</mat-icon>
      </button>
      
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>